<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mikasa.campusrunner.mapper.CompusMapper">



    <select id="getNumberIdByNameAndSchoolId" resultType="java.lang.Long">
        select number_id from tb_compus where school_id = #{schoolId} and compus_name = #{compusName} and deleted = 0
    </select>

    <select id="getByNameAndSchoolId" resultType="com.mikasa.campusrunner.pojo.entity.Compus">
        select * from tb_compus where school_id = #{schoolId} and compus_name = #{compusName} and deleted = 0
    </select>

    <select id="getMaxNumber" resultType="java.lang.Long">
        select number_id from tb_compus where school_id = #{schoolId} and deleted = 0 order by number_id desc limit 1
    </select>

    <select id="getIdByNumberId" resultType="java.lang.Long">
        select id from tb_compus where number_id = #{numberId} and deleted = 0
    </select>

    <select id="getThree" resultType="com.mikasa.campusrunner.pojo.vo.AddressBookThreeVO$Compus">
        SELECT compus_name,number_id
        FROM tb_compus
        WHERE deleted = 0 AND school_id = #{schoolId}
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_compus values(null, #{schoolId}, #{schoolName}, #{numberId}, #{compusName}, #{deleted})
    </insert>


</mapper>