<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mikasa.campusrunner.mapper.SecondHandCategoryMapper">
    <select id="list" resultType="com.mikasa.campusrunner.pojo.entity.SecondHandCategory">
        select * from tb_second_hand_category
        where deleted = 0
        order by sort asc, id asc
    </select>

    <select id="getByIdForUpdate" resultType="com.mikasa.campusrunner.pojo.entity.SecondHandCategory">
        select *
        from tb_second_hand_category
        where id = #{id}
          and deleted = 0
        for update
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_second_hand_category(id, name, sort, deleted)
        values(null, #{name}, #{sort}, 0)
    </insert>

    <update id="update">
        update tb_second_hand_category
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </set>
        where id = #{id}
          and deleted = 0
    </update>

    <update id="deleteById">
        update tb_second_hand_category set deleted = 1 where id = #{id}
    </update>
</mapper>
