<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mikasa.campusrunner.mapper.UserMapper">

    <select id="getByOpenid" resultType="com.mikasa.campusrunner.pojo.entity.User">
        select * from tb_user where openid = #{openid} and deleted = 0
    </select>

    <select id="getById" resultType="com.mikasa.campusrunner.pojo.vo.UserVO">
        SELECT
            user.id,
            user.username,
            user.realname,
            user.openid,
            user.head_img,
            user.sex,
            user.sex,
            user.phone,
            user.authentication,
            user.school_id,
            user.stu_id,
            user.student_id_card,
            user.student_id_card_review,
            user.score,
            user.money,
            user.alipay_payment_code,
            user.wechat_payment_code,
            user.is_manager,
            user.deleted,
            user.create_time,
            user.update_time
        FROM
            tb_user AS user
        WHERE
            user.id = #{currentId} AND
            user.deleted = 0
    </select>

    <select id="getSchoolId" resultType="java.lang.Long">
        select school_id
        from tb_user
        where id = #{id}
    </select>

    <select id="getOpenidById" resultType="java.lang.String">
        select openid
        from tb_user
        where id = #{id}
    </select>

    <select id="getAllUsersNum" resultType="java.lang.Long">
        SELECT
            COUNT(*) AS num
        FROM tb_user
        WHERE deleted = 0
    </select>

    <select id="getPendingAuthList" resultType="com.mikasa.campusrunner.pojo.vo.UserVO">
        SELECT
            tb_user.*,
            tb_school.`school_name`
        FROM
            tb_user,
            tb_school
        WHERE
            tb_user.deleted = 0 AND
            tb_user.student_id_card_review = 1 AND
            tb_user.`school_id` = tb_school.`id`
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user values
        (null,
         #{username},
         #{realname},
         #{openid},
         #{headImg},
         #{sex},
         #{phone},
         #{authentication},
         #{schoolId},
         #{stuId},
         #{studentIdCard},
         #{studentIdCardReview},
         #{score},
         #{money},
         #{alipayPaymentCode},
         #{weChatPaymentCode},
         #{isManager},
         #{deleted},
         #{createTime},
         #{updateTime})
    </insert>


    <update id="update">
        update tb_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="realname != null and realname != ''">realname = #{realname},</if>
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            <if test="headImg != null and headImg != ''">head_img = #{headImg},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="authentication != null">authentication = #{authentication},</if>
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="stuId != null and stuId != ''">stu_id = #{stuId},</if>
            <if test="studentIdCard != null and studentIdCard != ''">student_id_card = #{studentIdCard},</if>
            <if test="studentIdCardReview != null">student_id_card_review = #{studentIdCardReview},</if>
            <if test="score != null">score = #{score},</if>
            <if test="money != null">money = #{money},</if>
            <if test="alipayPaymentCode != null and alipayPaymentCode != ''">alipay_payment_code = #{alipayPaymentCode},</if>
            <if test="weChatPaymentCode != null and weChatPaymentCode != ''">wechat_payment_code = #{weChatPaymentCode},</if>
            <if test="isManager != null">is_manager = #{isManager},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>



    <!--    <select id="getAll" resultType="com.mikasa.campusrunner.pojo.entity.User">-->
<!--        select * from tb_user-->
<!--    </select>-->



<!--    <insert id="insert">-->
<!--        insert into tb_user-->
<!--        values(null, #{username}, #{realname}, #{openid}, #{headImg}, #{sex}, #{phone}, #{authentication},-->
<!--               #{schoolId}, #{stuId}, #{score}, #{money}, #{deleted}, #{createTime}, #{updateTime})-->
<!--    </insert>-->


    <select id="getAllUsers" resultType="com.mikasa.campusrunner.pojo.vo.admin.AdminUserListVO">
        SELECT u.id, u.username, u.realname, u.head_img, u.sex, u.phone,
               s.school_name, u.stu_id, u.authentication, u.student_id_card_review,
               u.score, u.create_time,
               (SELECT COUNT(*) FROM tb_orders WHERE user_id = u.id AND deleted = 0) AS order_count,
               (SELECT COUNT(*) FROM tb_take_orders tk2 WHERE tk2.user_id = u.id AND tk2.deleted = 0) AS take_order_count
        FROM tb_user u
        LEFT JOIN tb_school s ON u.school_id = s.id
        WHERE u.deleted = 0
        ORDER BY u.create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getAuthenticatedUsers" resultType="com.mikasa.campusrunner.pojo.vo.admin.AdminUserListVO">
        SELECT u.id, u.username, u.realname, u.head_img, u.sex, u.phone,
               s.school_name, u.stu_id, u.authentication, u.student_id_card_review,
               u.score, u.create_time,
               (SELECT COUNT(*) FROM tb_orders WHERE user_id = u.id AND deleted = 0) AS order_count,
               (SELECT COUNT(*) FROM tb_take_orders tk2 WHERE tk2.user_id = u.id AND tk2.deleted = 0) AS take_order_count
        FROM tb_user u
        LEFT JOIN tb_school s ON u.school_id = s.id
        WHERE u.deleted = 0 AND u.authentication = 1
        ORDER BY u.create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getPendingReviewUsers" resultType="com.mikasa.campusrunner.pojo.vo.admin.AdminUserListVO">
        SELECT u.id, u.username, u.realname, u.head_img, u.sex, u.phone,
               s.school_name, u.stu_id, u.authentication, u.student_id_card_review,
               u.score, u.student_id_card, u.create_time,
               (SELECT COUNT(*) FROM tb_orders WHERE user_id = u.id AND deleted = 0) AS order_count,
               (SELECT COUNT(*) FROM tb_take_orders tk2 WHERE tk2.user_id = u.id AND tk2.deleted = 0) AS take_order_count
        FROM tb_user u
        LEFT JOIN tb_school s ON u.school_id = s.id
        WHERE u.deleted = 0 AND u.student_id_card_review = 1
        ORDER BY u.create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getAdminUserDetail" resultType="com.mikasa.campusrunner.pojo.vo.admin.AdminUserDetailVO">
        SELECT u.id, u.username, u.realname, u.head_img, u.sex, u.phone,
               s.school_name, u.stu_id, u.authentication, u.student_id_card,
               u.student_id_card_review, u.score, u.money,
               u.alipay_payment_code, u.wechat_payment_code AS weChatPaymentCode,
               u.is_manager, u.create_time, u.update_time,
               (SELECT COUNT(*) FROM tb_orders WHERE user_id = u.id AND deleted = 0) AS order_count,
               (SELECT COUNT(*) FROM tb_take_orders tk2 WHERE tk2.user_id = u.id AND tk2.deleted = 0) AS take_order_count,
               (SELECT COALESCE(SUM(o2.price), 0) FROM tb_take_orders tk2 INNER JOIN tb_orders o2 ON tk2.order_id = o2.id AND o2.deleted = 0 WHERE tk2.user_id = u.id AND tk2.deleted = 0) AS total_earned
        FROM tb_user u
        LEFT JOIN tb_school s ON u.school_id = s.id
        WHERE u.id = #{id} AND u.deleted = 0
    </select>

    <select id="countByAuthStatus" resultType="java.lang.Long">
        SELECT COUNT(*) FROM tb_user WHERE deleted = 0 AND authentication = #{authentication}
    </select>

    <select id="countByReviewStatus" resultType="java.lang.Long">
        SELECT COUNT(*) FROM tb_user WHERE deleted = 0 AND student_id_card_review = #{studentIdCardReview}
    </select>

    <select id="countTodayNew" resultType="java.lang.Long">
        SELECT COUNT(*) FROM tb_user
        WHERE deleted = 0 AND create_time &gt;= #{startTime} AND create_time &lt;= #{endTime}
    </select>

    <select id="countManagers" resultType="java.lang.Long">
        SELECT COUNT(*) FROM tb_user WHERE deleted = 0 AND is_manager = 1
    </select>

</mapper>